<div class="navdiv">
<a class="nav" data-id="1" href="{% url projects %}">><u>p</u>rojects</a>
<a class="nav" data-id="2" href="{% url tag 2 %}">><u>s</u>tories</a>
<a class="nav" data-id="3" href="{% url tag 3 %}">><u>b</u>log</a>
<a class="nav" data-id="4" href="{% url tag 4 %}">><u>a</u>bout</a>
<a class="nav" data-id="5" href="{% url tag 5 %}">><u>idea</u> book</a>
</div>

<!--<div class="ui-widget">-->
<!--  <label for="nodes">Search: </label>-->
<!--  <input id="nodes">-->
<!--</div>-->

<script>

    //http://code.tutsplus.com/tutorials/how-to-use-the-jquery-ui-autocomplete-widget--net-10560

    $(function() {
        $('.nav').click(function(e){
            var main =  $('#main');
            var id = $(this).data('id');
            if (id == 1){ // projects
                var url = "/projects";
            } else if (id == 5){ // idea book
                var url = "/tag/"+id;
            } else {
                var url = "/path/"+id;
            }
            main.hide();
            main.load(url, function(){
                window.history.pushState('Complete', 'Rita Zevallos', url);
                main.fadeIn('slow');
                main.data('url',url);
                if (id == 1){ //projects
                    $('#helper').load("helper/"+id);
                }
                $('#helper').show();
                $('#sidebar').show();
            })
            e.preventDefault();
        })


      $("#nodes").autocomplete({
        source: "/autocomplete_nodes/",
        minLength: 2,
        onSelect: function (suggestion) {
            alert('You selected: ' + suggestion.value + ', ' + suggestion.data);
        }
      });
    });
</script>