<h5>WIP Projects</h5>
<div id="helper_content">
Anything in here?
</div>
<div id="helper_footer">
    <a id="projects_link" href="{% url projects %}">Click for finished projects ></a>
</div>

<script>
    $('#projects_link').click(function(e){
        var url = "/projects"; // projects
        main = $('#main');
        main.hide();
        main.load(url, function(){
            main.fadeIn('slow');
            $('#main').data('url',url);
            $('#helper').load("helper/1");
            $('#helper').show();
            $('#sidebar').show();
        })
        e.preventDefault();
    })
</script>