body{
    font-size:18px;
}

#info_button{
    position:fixed;
    top:10px;
    right:10px;
    border: 1px solid #939393;
    border-radius: 25px;
    padding:0px 20px 0px 20px;
    font-size:2em;
    line-height:1.8em;
    font-style:italic;
    font-family:georgia serif;
    opacity:0.6;
    width: 50px;
    z-index:2;
    height: 50px;
}

#info_button:hover{
    opacity:1.0;
}

#info{
    z-index:2;
    position:fixed;
    top:50px;
    right:10px;
    display:none;
    font-size:0.7em;
    width:300px;
    padding:8px;
    background: rgba(245, 245, 245, 0.8);;
}

#uparrow,#downarrow{
    text-align:center;
    position:fixed;
    opacity:0.3;
    font-size:20px;
    z-index:2;
    width:30px;
    margin-left:48%;
    margin-right:48%;
}

#uparrow{
    top:5px;
}

#downarrow{
    bottom:5px;
}

#earth_container{
    width:100%;
}

#sidebar{
    position:fixed;
    top:30px;
    left:15px;
    z-index:2;
}

#options{
    width:250px;
    background-color:#f6f6f6;
    box-shadow: 0px 0px 1px #888888;
    padding:16px;
    font-family:arial;
    font-size:1em;
    opacity:0.4;
}

#options:hover,#uparrow:hover,#downarrow:hover{
    opacity:0.6;
}

.sidebar_question{
    display:block;
    font-size:1.2em;
    color:#939393;
}

#fullpage{
    z-index:1;
}

.item{
    width: 500px;
    background-color: #f1f1f1;
    box-shadow: 0px 0px 1px #888888;
    padding: 40px;
    font-family: arial;
    font-size:2em;
    margin-left:auto;
    margin-right:auto;
}

.footer{
    font-family:arial;
    font-size:0.8em;
    padding-top:0.3em;
    margin-left:33%;
    margin-right:33%;
    text-align:center;
}

html,body,.content,.section,#fullpage{
    background-color:#fff;
}

.beginning{
    color: #545454;
}

.ending{
	color: #939393;
}