{% extends "because/base.html" %}
{% block content %}

<div id="info_button">i</div>
<div id="info">
    <p>There's this party game. Everybody sits in a circle
    and writes half a sentence starting with "Because",
    i.e.: "Because I woke up late..." The pieces of
    paper are folded, collected, shuffled, and passed back out.
    This time, on the back of the paper, each person
    finishes the sentence with something that makes sense,
    i.e.: "I didn't have time to take a shower."</p>

    <p>Once all the sentences have been finished, the papers
    are collected a second time and passed out. Now, one person
    begins by reading the sentence beginning on the front,
    and the person to their left completes it with the sentence
    ending on the back. Going around the circle, all the mixed
    up sentences are read in this way. The result is silly, fun,
    and often interesting.</p>

    <p>The lyrics of <i>Because</i> by the Beatles reminded me
    of the absurdist logic that results from these sentences.
    One of my favorite lyrics is one I misheard from this song:
    "Because the world is round, love is old, love is new."
    I love the idea of false causality, of absurd superstition.
    Absurdist poetry often bothers me because it strikes me
    as a sequence of weird and random things simply for the
    sake of being weird and random. But the statement of causality,
    I think, gives the two random things the structure of
    relationship.</p>

    <p>This is one of several poetry game projects I've been working
    on. I'm interested in using the Internet as a space for distant people
    to create art and poetry together through games like this.</p>

    <p>To play, you can either finish beginnings written by others,
    or write beginnings for other people to finish. You can read
    completed sentences, either as they were written, or scrambled,
    as in the party game.</p>

    <p>I wanted to add the geolocation globe visualization because of
    the idea of physical distance,
    and also because it goes with the song :P As you scroll, the globe
    shows you the locations of the two authors of each sentence.</p>

    <p>No one knows about this project yet so there's nothing here,
    but at some point I'll try to get my friends to play it for a few hours,
    to populate. I was also thinking of populating using song lyrics.</p>

</div>

<div id="uparrow">
    &uarr;
</div>

<div id="downarrow">
    &darr;
</div>

<div id="fullpage">
</div>

<script>

function setupCheckboxHandlers(){
    previous_start = default_start;
    previous_complete = default_complete;
    previous_read = default_read;

    $("#startCheckbox").click(function(){
        var $this = $(this);
        if ($this.is(':checked')) {
            if (!previous_start){
                loadStart();
                previous_start = true;
                goToFirstOfClass('start');
            }
        } else {
            if (previous_start){
                removeAllWithClass('start');
                previous_start = false;
            }
        }
    })

    $("#completeCheckbox").click(function(){
        var $this = $(this);
        if ($this.is(':checked')) {
            if (!previous_complete){
                // load beginnings
                $.get("{% url beginnings %}",function(data,status){
                    if (status=="success"){
                        for (var beginning_id in data){
                            loadComplete(parseInt(data[beginning_id]));
                        }
                        goToFirstOfClass('complete');
                        previous_complete = true;
                    } else {
                        alert("Error loading beginnings");
                    }
                });
            }
        } else {
            if (previous_complete){
                removeAllWithClass('complete');
                previous_complete = false;
            }
        }
    })

    $('#scrambleCheckbox').click(function(){
        var $this = $(this);
        if ($this.is(':checked')) {
            // load scrambleds
            $.get("{% url scrambled %}", function(data,status){
                if (status=="success"){
                    var beginning_id_list = data['beginning_id_list'];
                    var ending_id_list = data['ending_id_list'];
                    var num_scrambled = ending_id_list.length;
                    if (num_scrambled != beginning_id_list.length){
                        throw "# beginnings != #endings in scrambledCheckbox handler";
                    } else {
                        for (var i=0; i<num_scrambled; i++){
                            loadScrambled(beginning_id_list[i],ending_id_list[i]);
                        }
                    }
                } else {
                    alert("Error loading scrambleds");
                }
            })
        }
    })

    $("#readCheckbox").click(function(){
        var $this = $(this);
        if ($this.is(':checked')) {
                $('#scrambleCheckboxContainer').show();
            if (!previous_read){
                // load endings
                $.get("{% url endings %}",function(data,status){
                    if (status=="success"){
                        for (var ending_id in data){
                            loadEnding(parseInt(data[ending_id]));
                        }
                        goToFirstOfClass('read');
                        previous_read = true;
                    } else {
                        alert("Error loading endings");
                    }
                });
            }
        } else {
            $('#scrambleCheckboxContainer').hide();
            if (previous_read){
                removeAllWithClass('read');
                previous_read = false;
            }
        }
    })
}

function loadCompletes(){
    {% for beginning in beginnings %}
        loadComplete({{beginning.id}});
    {% endfor %}
}

function loadEndings(){
    {% for ending in endings %}
        loadEnding({{ending.id}})
    {% endfor %}
}

function setupInfo(){
    $('#info_button').hover(function(){
        $('#info').show();
    }, function(){
        $('#info').hide();
    })
}

/* MAIN */
$(function() {

    setupInfo();

    // these are global FYI
    current_section_index = 1;

    // these are also global
    default_start = false;
    default_complete = false;
    default_read = true;

    loadDefaultSettings();

    var lat1 = 38.766794;
    var lng1 = -77.2293805;
    var lat2 = 38.766794;
    var lng2 = -77.2293805;
    loadTemplate(lat1,lng1,lat2,lng2);
    earth = initGlobe();

    if (default_start){
        loadStart();
    }
    if (default_complete){
        loadCompletes();
    }
    if (default_read){
        loadEndings();
    }
    shuffleSections();
    moveTemplateToTop();
    setupCheckboxHandlers();
    setupGeoButtonHandlers(earth);
    setupArrowHandlers();

    var marker1 = WE.marker([lat1,lng1]).addTo(earth);
    var marker2 = WE.marker([lat2,lng2]).addTo(earth);
    loadFullpage(earth,marker1,marker2);
    addDataIdsToSections();
});
</script>

{% endblock %}